body {
  background-color: rgb(209, 204, 204);
}

p {
  color: rebeccapurple;
}

li {
  cursor: pointer; /* Cambia el cursor cuando pasa sobre los elementos */
}

main{
  margin-top: 1em;
}

genk-posts-mediator{
  display: flex;
}

genk-posts, genk-posts-actions{
  display: block;
  border: black solid 2px;
  margin: 1em;
}

genk-posts{
  flex: 1;
}

genk-posts-actions{
  flex: 1;
}

.formRow {
  display: flex;
  flex-direction: column;
  margin: 10px; /* Espacio entre las filas */
}

.formRow label {
  margin-bottom: 5px;
}

#postForm{
  margin: 2rem;
}
